.wave-6-1-1 {
    animation: waving-6-1-1 12s 1;
}

.wave-6-1-2 {
    animation: waving-6-1-2 12s 1;
}

.wave-6-1-3 {
    animation: waving-6-1-3 12s 1;
}

.wave-6-2-1, .wave-6-2-4 {
    animation: waving-6-2-1 12s 1;
}

.wave-6-2-2, .wave-6-2-5 {
    animation: waving-6-2-2 12s 1;
}

.wave-6-2-3, .wave-6-2-6  {
    animation: waving-6-2-3 12s 1;
    animation-delay: .1s;
}

.wave-6-3-1, .wave-6-3-4  {
    animation: waving-6-3-1 12s 1;
    animation-delay: .1s;
}

.wave-6-3-2, .wave-6-3-5 {
    animation: waving-6-3-1 12s 1;
    animation-delay: .2s;
}

.wave-6-3-3, .wave-6-3-6 {
    animation:  waving-6-3-1 12s 1;
    animation-delay: .1s;
}


@keyframes waving-6-1-1 {
    0% {
        transform: translate(0, 0);
    }

    3% {
        transform: translate(0, 19px, );
    }

    3.75% {
        transform: translate(0, 19px);
    }

    10% {
        transform: translate(0, -14px,);
    }

    17% {
        transform: translate(0, 14px,);
    }

    17.75% {
        transform: translate(0, 14px);
    }

    21% {
        transform: translate(0, -26px);
    }

    28% {
        transform: translate(0, 20px);
    }

    28.75% {
        transform: translate(0, 20px);
    }

    35% {
        transform: translate(0, -18px);
    }

    42% {
        transform: translate(-1px, 18px);
    }

    42.75% {
        transform: translate(-1px, 18px);
    }

    49% {
        transform: translate(1px, -13px);
    }

    56% {
        transform: translate(0,0);
    }

    56.75% {
        transform: translate(0,0);
    }

    61% {
        transform: translate(0, -3px);
    }

    68.5% {
        transform: translate(0px, 0px);
    }

    69.75% {
        transform: translate(0, 4px);
    }

    77% {
        transform: translate(0, 2px);
    }

    85% {
        transform: translate(0, -5px);
    }

    92% {
        transform: translate(0, 3px);
    }
    100% {

    }
}
@keyframes  waving-6-1-2 {
    0% {
        transform: translate(0, 0);
    }

    3% {
        transform: translate(-1px, 19px);
    }

    3.75% {
        transform: translate(-1px, 19px);
    }

    10% {
        transform: translate(0, -14px);
    }

    17% {
        transform: translate(1px, 20px);
    }

    17.5% {
        transform: translate(1px, 20px);
    }

    24% {
        transform: translate(0, -14px);
    }

    28% {
        transform: translate(0, 20px);
    }

    28.75% {
        transform: translate(0, 20px);
    }

    35% {
        transform: translate(0, -18px);
    }

    42% {
        transform: translate(0, 18px);
    }

    42.75% {
        transform: translate(-1px, 18px);
    }

    49% {
        transform: translate(0, -13px);
    }

    56% {
        transform: translate(0,0);
    }

    56.75% {
        transform: translate(0,0);
    }

    61% {
        transform: translate(1px, -3px);
    }

    68.5% {
        transform: translate(1px, 3px);
    }

    69.75% {
        transform: translate(1px, 2px);
    }

    77% {
        transform: translate(0px, 0px);
    }

    85% {
        transform: translate(-1px, -2px);
    }

    92% {
        transform: translate(-1px, 4px);
    }
    100% {

    }
}
@keyframes  waving-6-1-3 {
    0% {
        transform: translate(0, 0);
    }

    3% {
        transform: translate(0, 19px);
    }

    3.75% {
        transform: translate(0, 19px);
    }

    10% {
        transform: translate(1px, -14px);
    }

    17% {
        transform: translate(-1px, 20px);
    }

    17.75% {
        transform: translate(0, 20px);
    }

    21% {
        transform: translate(0, -26px);
    }

    28% {
        transform: translate(-1px, 20px);
    }

    28.75% {
        transform: translate(-1px, 20px);
    }

    35% {
        transform: translate(1px, -18px);
    }

    42% {
        transform: translate(-1px, 18px);
    }

    42.75% {
        transform: translate(-1px, 18px);
    }

    49% {
        transform: translate(1px, -13px);
    }

    56% {
        transform: translate(0,0);
    }

    56.75% {
        transform: translate(0,0);
    }

    61% {
        transform: translate(0, -3px);
    }

    68.5% {
        transform: translate(0px, -1px);
    }

    69.75% {
        transform: translate(0, 4px);
    }

    77% {
        transform: translate(0, 2px);
    }

    85% {
        transform: translate(-3px, -5px);
    }

    92% {
        transform: translate(-5px, 3px);
    }
    100% {

    }
}
@keyframes  waving-6-2-1 {
    0% {
        transform: translate(0, 0);
    }
    3% {
        transform: translate(0,0);
    }
    10% {
        transform: translate(0, 8px);
    }

    17% {
        transform: translate(0, -11px);
    }

    17.75% {
        transform: translate(0, -11px);
    }

    21% {
        transform: translate(0, -10px);
    }

    28% {
        transform: translate(0, 9px);
    }

    28.75% {
        transform: translate(-1px, 9px);
    }

    35% {
        transform: translate(0, -10px);
    }

    42% {
        transform: translate(0, 8px);
    }

    42.75% {
        transform: translate(1px, 8px);
    }

    49% {
        transform: translate(0, -10px);
    }

    56% {
        transform: translate(0, 10px);
    }

    56.75% {
        transform: translate(0, 10px);
    }

    61% {
        transform: translate(1px, -9px);
    }

    68.5% {
        transform: translate(0, 9px);
    }

    69.75% {
        transform: translate(0, 9px);
    }

    77% {
        transform: translate(0, -8px);
    }

    85% {
        transform: translate(0, 4px);
    }

    85.5% {
        transform: translate(0, 4px);
    }

    92% {
        transform: translate(0, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}
@keyframes  waving-6-2-2 {
    0% {
        transform: translate(0, 0);
    }
    3% {
        transform: translate(0,0);
    }
    10% {
        transform: translate(1px, -8px);
    }

    17% {
        transform: translate(-1px, 5px);
    }

    17.75% {
        transform: translate(-1px, 5px);
    }

    21% {
        transform: translate(0, -10px);
    }

    28% {
        transform: translate(0, 12px);
    }

    28.75% {
        transform: translate(0, 12px);
    }

    35% {
        transform: translate(0, -10px);
    }

    42% {
        transform: translate(-1px, 7px);
    }

    42.75% {
        transform: translate(-1px, 7px);
    }

    49% {
        transform: translate(0, -10px);
    }

    56% {
        transform: translate(0, 14px);
    }

    56.75% {
        transform: translate(0, 14px);
    }

    61% {
        transform: translate(0, -9px);
    }

    68.5% {
        transform: translate(-1px, 7px);
    }

    69.75% {
        transform: translate(0, 4px);
    }

    77% {
        transform: translate(0, 2px);
    }

    85% {
        transform: translate(0, -5px);
    }

    92% {
        transform: translate(0, 3px);
    }
    100% {

    } 
}
@keyframes  waving-6-2-3 {
    0% {
        transform: translate(0, 0);
    }
    3% {
        transform: translate(0,0);
    }
    10% {
        transform: translate(1px, -8px);
    }

    17% {
        transform: translate(-1px, 5px);
    }

    17.75% {
        transform: translate(-1px, 5px);
    }

    21% {
        transform: translate(0, -8px);
    }

    28% {
        transform: translate(0, 9px);
    }

    28.75% {
        transform: translate(0, 9px);
    }

    35% {
        transform: translate(0, -10px);
    }

    42% {
        transform: translate(-1px, 7px);
    }

    42.75% {
        transform: translate(0, 7px);
    }

    49% {
        transform: translate(0, -10px);
    }

    56% {
        transform: translate(0, 14px);
    }

    56.75% {
        transform: translate(0, 14px);
    }

    61% {
        transform: translate(0, -9px);
    }

    68.5% {
        transform: translate(-1px, 9px);
    }

    69.75% {
        transform: translate(-1px, 9px);
    }

    77% {
        transform: translate(0, -15px);
    }

    85% {
        transform: translate(0, 11px);
    }

    92% {
        transform: translate(0, -8px);
    }
    100% {

    }
}
@keyframes  waving-6-3-1 {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(0,0);
    }

    17% {
        transform: translate(0, 6px);
    }

    17.75% {
        transform: translate(0, 6px);
    }

    21% {
        transform: translate(0, -5px);
    }

    28% {
        transform: translate(0, 5px);
    }

    28.75% {
        transform: translate(0, 5px);
    }

    35% {
        transform: translate(0, -5px);
    }

    42% {
        transform: translate(0, 4px);
    }

    42.75% {
        transform: translate(0, 4px);
    }

    49% {
        transform: translate(0, -5px);
    }

    56% {
        transform: translate(0, 5px);
    }

    56.75% {
        transform: translate(0, 5px);
    }

    61% {
        transform: translate(0, -4px);
    }

    68.5% {
        transform: translate(0, 4px);
    }

    69.75% {
        transform: translate(0, 4px);
    }

    77% {
        transform: translate(0, -4px);
    }

    85% {
        transform: translate(0, 2px);
    }

    85.5% {
        transform: translate(0, 4px);
    }

    92% {
        transform: translate(1px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}
@keyframes  waving-6-3-2 {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(0,0);
    }

    17% {
        transform: translate(0, 6px);
    }

    17.75% {
        transform: translate(0, 6px);
    }

    21% {
        transform: translate(0, -5px);
    }

    28% {
        transform: translate(0, 6px);
    }

    28.75% {
        transform: translate(0, 6px);
    }

    35% {
        transform: translate(0, -5px);
    }

    42% {
        transform: translate(0, 6px);
    }

    42.75% {
        transform: translate(0, 6px);
    }

    49% {
        transform: translate(0, -7px);
    }

    56% {
        transform: translate(0, 7px);
    }

    56.75% {
        transform: translate(0, 7px);
    }

    61% {
        transform: translate(0, -5px);
    }

    68.5% {
        transform: translate(0, 4px);
    }

    69.75% {
        transform: translate(0, 4px);
    }

    77% {
        transform: translate(0, -4px);
    }

    85% {
        transform: translate(0, 2px);
    }

    85.5% {
        transform: translate(0, 4px);
    }

    92% {
        transform: translate(0, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}
@keyframes  waving-6-3-3 {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(0,0);
    }

    17% {
        transform: translate(0, 4px);
    }

    17.75% {
        transform: translate(0, 4px);
    }

    21% {
        transform: translate(0, -4px);
    }

    28% {
        transform: translate(0, 3px);
    }

    28.75% {
        transform: translate(0, 3px);
    }

    35% {
        transform: translate(0, -2px);
    }

    42% {
        transform: translate(0, 6px);
    }

    42.75% {
        transform: translate(0, 6px);
    }

    49% {
        transform: translate(0, -3px);
    }

    56% {
        transform: translate(0, 7px);
    }

    56.75% {
        transform: translate(0, 5px);
    }

    61% {
        transform: translate(0, -4px);
    }

    68.5% {
        transform: translate(-1px, 4px);
    }

    69.75% {
        transform: translate(-1px, 4px);
    }

    77% {
        transform: translate(0, -4px);
    }

    85% {
        transform: translate(0, 2px);
    }

    85.5% {
        transform: translate(0, 4px);
    }

    92% {
        transform: translate(3px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}