@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=DM+Serif+Display&display=swap');

body {
    background-color: #f5f7fc;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

body,
p, a {
    font-family: 'DM Mono', monospace;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
}

h1 {
    font-size: 3rem;
    margin: .75rem 0;
}

h2 {
    font-size: 3rem;
    margin: .5rem 0;
}

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 20px;
}

img {
    border-radius: .5em;
}

p {
    font-size: 20px
}

a,
a:visited {
    color: #000;
    text-decoration: underline;
}

.bold {
    font-weight: 800;
}

.links {
    min-height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.img-caption {
    width: 90%;
    margin-bottom: 4vw;
    gap: 10%;
}

article {
    margin-left: 260px;
    padding-top: 2em;
    padding-bottom: 2em;
    min-width: calc(100vw - 260px);
    padding: 2em;
    background-color: #f5f7fc;
    max-width: 800px;
    min-height: 100%;
    height: fit-content;
    box-sizing: border-box;
}

article div {
    max-width: 1000px;
}

@media (prefers-color-scheme: dark) { 
    body { background-color: #404447;}
}