@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&family=Oswald:wght@600&display=swap');

body {
    background: #EAC8AB;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

body,
p {
    font-family: 'DM Mono', monospace;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Mono', monospace;
    font-weight: 300;
}

h1 {
    font-size: 3rem;
    margin: .75rem 0;
}

h2 {
    font-size: 3rem;
    margin: .5rem 0;
}

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 20px;
}

p {
    font-size: 20px
}

button {
    background-color: white;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    padding: 1rem 3rem;
    font-family: 'DM Serif Display', serif;
    margin-top: 0;
    margin-bottom: 4px;
}

button:hover,
button:active {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 4px;
    box-shadow: none;
}

@keyframes floating-1 {
    0% {
        transform: translate(0, 0);
    }

    28% {
        transform: translate(4px, -5px);
    }

    60% {
        transform: translate(-2px, -8px);
    }

    100% {
        transform: translate(0px, 0);
    }
}

@keyframes floating-2 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(-10px, -5px);
    }

    66% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-3 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(3px, -5px);
    }

    66% {
        transform: translate(-8px, -7px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(0px, -3px);
    }

    66% {
        transform: translate(0px, 4px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-5 {
    0% {
        transform: translate(0, 0);
    }

    36% {
        transform: translate(3px, -4px);
    }

    70% {
        transform: translate(7px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes floating-6 {
    0% {
        transform: translate(2px, 0px);
    }

    33% {
        transform: translate(-7px, -5px);
    }

    66% {
        transform: translate(3px, -5px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-7 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(3px, -5px);
    }

    66% {
        transform: translate(-4px, -2px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-8 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(0px, -3px);
    }

    66% {
        transform: translate(0px, 4px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.float-1 {
    animation: floating-1 15.3s infinite;
}

.float-2 {
    animation: floating-2 11.2s infinite;
}

.float-3 {
    animation: floating-3 13.5s infinite;
}

.float-4 {
    animation: floating-4 9.7s infinite;
}

.float-5 {
    animation: floating-1 10s infinite;
}

.float-6 {
    animation: floating-2 9.3s infinite;
}

.float-7 {
    animation: floating-3 11.1s infinite;
}

.float-8 {
    animation: floating-4 9.9s infinite;
}

a,
a:visited {
    color: #000;
}

.stack {
    padding-bottom: 2rem;
    border-bottom: 2px solid black;
    margin-bottom: 2rem
}

.bold {
    font-weight: 800;
}

.links {
    min-height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #308695;
        color: white
    }
}