@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=DM+Serif+Display&display=swap');

body {
    background-color: #dfe7f8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

body,
p {
    font-family: 'DM Mono', monospace;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
}

h1 {
    font-size: 3rem;
    margin: .75rem 0;
}

h2 {
    font-size: 3rem;
    margin: .5rem 0;
}

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 20px;
}

img {
    border-radius: .5em;
}

p {
    font-size: 20px
}

a,
a:visited {
    color: #000;
    text-decoration: underline;
}

.bold {
    font-weight: 800;
}

.links {
    min-height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.img-caption {
    width: 90%;
    margin-bottom: 4vw;
    gap: 10%;
}

article {
    margin-left: 260px;
    padding-top: 2em;
    padding-bottom: 2em;
    min-width: calc(100vw - 260px);
    padding: 2em;
    background-color: #f5f7fc;
    max-width: 800px;
    min-height: 100%;
    height: fit-content;
    box-sizing: border-box;
}

article div {
    max-width: 1000px;
}

@media (prefers-color-scheme: dark) {}

@media screen and (min-width: 600px) {
    .project-info-grid {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 6;
        border: 2px solid black;
        border-radius: 1em;
        padding: 1rem;
        width: 90%;
        margin-bottom: 1em;
    }

    .project-name {
        border: 2px solid black;
        border-radius: 16px;
        padding: .5em;
        margin: 0.5rem;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        margin-bottom: .5rem;
    }

    .tagline {
        display: block;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        padding: 1em;
    }

    p.type-def {
        margin: 1em 0.5em;
    }

    .type {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .type-def {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .stack {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .stack-list {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    h5,
    .project-info-grid p {
        margin: 0;
        margin-right: 0.5em;
    }

    .links {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .links-list {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
}

@media (max-width: 799px) {
    .bg {
        margin-left: 0;
        width: 100vw;
    }

    article {
        margin-left: 70px;
        width: calc(100% - 70px);

        margin-top: 0;
    }
}

@media (min-width: 980px) {
    .img-caption {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .img-caption .text {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .img-caption img {
        grid-column-start: 1;
        justify-self: end;
    }

    .img-caption:nth-child(even) img {
        grid-column-start: 2;
        justify-self: start;
    }

    .img-caption:nth-child(even) .text {
        grid-column-start: 1;
        justify-self: end;
    }

    .img-caption:nth-child(even) h3 {
        justify-self: start;
    }
}



@keyframes floating-1 {
    0% {
        transform: translate(0, 0);
    }

    28% {
        transform: translate(4px, -5px);
    }

    60% {
        transform: translate(-2px, -8px);
    }

    100% {
        transform: translate(0px, 0);
    }
}

@keyframes floating-2 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(-10px, -5px);
    }

    66% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-3 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(3px, -5px);
    }

    66% {
        transform: translate(-8px, -7px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(0px, -3px);
    }

    66% {
        transform: translate(0px, 4px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-5 {
    0% {
        transform: translate(0, 0);
    }

    36% {
        transform: translate(3px, -4px);
    }

    70% {
        transform: translate(7px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes floating-6 {
    0% {
        transform: translate(2px, 0px);
    }

    33% {
        transform: translate(-7px, -5px);
    }

    66% {
        transform: translate(3px, -5px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-7 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(3px, -5px);
    }

    66% {
        transform: translate(-4px, -2px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes floating-8 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(0px, -3px);
    }

    66% {
        transform: translate(0px, 4px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.float-1 {
    animation: floating-1 15.3s infinite;
}

.float-2 {
    animation: floating-2 11.2s infinite;
}

.float-3 {
    animation: floating-3 13.5s infinite;
}

.float-4 {
    animation: floating-4 9.7s infinite;
}

.float-5 {
    animation: floating-1 10s infinite;
}

.float-6 {
    animation: floating-2 9.3s infinite;
}

.float-7 {
    animation: floating-3 11.1s infinite;
}

.float-8 {
    animation: floating-4 9.9s infinite;
}