@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,300;0,800;1,300&family=DM+Serif+Display&display=swap');

body {
    font-family: 'Albert Sans', sans-serif;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
}
p, li {
    font-size: 20px;
}

button {
    color: black;
    border: 2px solid black;
    border-radius: .5rem;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: 3px 3px 0 black;
}
button:hover {
    margin-top: 6px;
    margin-bottom: 0;
    box-shadow: none;
}

@media screen and (min-width: 900px) {
    .body {
        display: flex;
        flex-flow: row nowrap;
    }
    .content {
        width: 50vw;
    }
}